trimesh
scikit-learn
opencv-python
matplotlib
imageio
diffusers==0.26.2
einops
transformers==4.38.0
open-clip-torch
gradio
pytorch-lightning==1.9.1
omegaconf
triton
accelerate
objaverse
iopath==0.1.10
torch==1.12.1+cu113
numpy==1.26.4
